{% if theme_variant == 'cupertino' %}
CupertinoButton(
  onPressed: () {},
  padding: EdgeInsets.symmetric({% if style.padding_horizontal %}horizontal: {{ style.padding_horizontal }}{% else %}horizontal: 0{% endif %}, {% if style.padding_vertical %}vertical: {{ style.padding_vertical }}{% else %}vertical: 0{% endif %}),
  child: Text({{ label }}{% if style.text_color %}, style: TextStyle(color: {{ style.text_color }}{% if style.font_size %}, fontSize: {{ style.font_size }}{% endif %}){% endif %}),
)
{% else %}
TextButton(
  onPressed: () {},
  style: TextButton.styleFrom(
    minimumSize: Size.zero,
    tapTargetSize: MaterialTapTargetSize.shrinkWrap,
    padding: EdgeInsets.symmetric({% if style.padding_horizontal %}horizontal: {{ style.padding_horizontal }}{% else %}horizontal: 0{% endif %}, {% if style.padding_vertical %}vertical: {{ style.padding_vertical }}{% else %}vertical: 0{% endif %}),
    {% if style.text_color %}foregroundColor: {{ style.text_color }},
    {% endif %}
  ),
  child: Text({{ label }}{% if style.font_size %}, style: TextStyle(fontSize: {{ style.font_size }}){% endif %}),
)
{% endif %}
